// Values for each rule are 0, 1, or 2. 0 = No warning. 1 = Warning. 2 = Error.
//
// See http://eslint.org/docs/rules/ for explanation of the rules.
// See https://github.com/eslint/eslint/blob/master/conf/eslint.json for list of the default values.
{
  "rules": {
    "brace-style": 0,
    "camelcase": 0,
    "consistent-return": 0,
    "key-spacing": 0,
    "no-alert": 0,
    "no-bitwise": 2,
    "no-caller": 0,
    "no-floating-decimal": 2,
    "no-lonely-if": 2,
    "no-multi-spaces": 0,
    "no-space-before-semi": 2,
    "no-underscore-dangle": 0,
    "no-unused-vars": [2, { "vars": "all", "args": "none" }],
    "no-use-before-define": 0,
    "one-var": 2,
    "quotes": [2, "single", "avoid-escape"],
    "radix": 2,
    "space-after-keywords": [2, "always"],
    "strict": 0,
    "wrap-iife": 2,
    "no-console": 0,

    "no-mixed-requires": 0
  },
  "globals": {
    "require": false,
    "__dirname": false,
    "module": true,
    "__DEBUG__": true
  }
}
